{% extends "base.html" %}

{% block content %}
<div>
    <h1>Congratulations Winner</h1>
    <p>Screenshot or save this QRCode and show it to the real resteraunt.</p>
    <h2>Prize number: {{ t.id }} of 100!</h2>
    <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
</div>
{% endblock %}